#parse("templates/editbooleanexpression.vm")

    <tr colspan="3">
        <td align="right" valign="top" bgcolor="#f5f5f5">
            <span class="label">$i18n.getText('workflow.jwfe.view.validator.message.description')</span>
        </td>
        <td bgcolor="#f5f5f5">
             <input type="text" id="message" name="message" value='$!{message}' size="50"/>
             <br/><font size="1">$i18n.getText('workflow.jwfe.view.validator.message.hint')</font>
        </td>
    </tr>
#parse("templates/syntaxdocumentation.vm")
