#SyntaxDocumentationLayoutWrap dt{margin: 0 0 0 0px; font-weight: bold;}
#SyntaxDocumentationLayoutWrap dd{margin: 0 0 0 30px;}
#SyntaxDocumentationLayoutWrap a{letter-spacing: 2px;}
#fields { cursor:pointer; }
#evaluateTo { cursor:pointer; }

#SyntaxDocumentationLayoutWrap .red{color:#d04437;}